@import '../helpers/_include-media';

.movie-details {
}

.movie-details__title {
  font-size: 2em;
  text-align: center;
  padding: 0 10px;

  @include media('<=992px') {
    display: none;
  }
}

.movie-details__title-mobile {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  padding: 10px;

  display: none;

  @include media('<=992px') {
    display: block;
  }
}


.movie-details .movie-poster {
  height: 400px;
  margin: auto;

  @include media('<=992px') {
    height: 200px;
    margin-top: 10px;
  }
}

.movie-details__main {
  display: flex;

  @include media('<=992px') {
    flex-direction: column;
  }
}


.movie-details__description-mobile {
  width: 100%;
  text-align: left;
  display: none;
  padding: 0 10px;

  @include media('<=992px') {
    display: block;
  }
}
/*
.movie-details__description {
  overflow: auto;
  flex-grow: 1;
}
*/
.movie-details__description ul li {
  font-size: 0.8em;
}

.movie-details__main {
  display: flex;
  flex-direction: row;
  overflow: auto;
}
